.accordion {
    overflow-anchor: none
}

.accordion>.card {
    overflow: hidden
}

.accordion>.card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.accordion>.card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

@media (prefers-reduced-motion:reduce) {
    .collapsing {
        transition: none
    }
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}


.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0;
    margin-right: 4px;
    display: inline-block;
    background-color: red;
    -webkit-animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
    -o-animation: blink 2s infinite;
    animation: blink 2s infinite;
}

.circle.hidden {
    display: none;
}

@keyframes blink {
    0% {
        transform: scale(1);
        opacity: 0
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

#entry-item-list div.loading {
    text-align: center;
}

#entry-item-list div.loading img {
    width: 50px;
}

#live-btn.clicked {
    color: #81C14B;
    font-weight: bold;
}

.new-entry {
    background-color: transparent;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin: 40px 0 50px 0;
    -webkit-animation: new 3s ease-in-out;
    -moz-animation: new 3s ease-in-out;
    -o-animation: new 3s ease-in-out;
    animation: new 3s ease-in-out;
}

#entry-item-list>li:first-child, #matter-index-item-list>li:first-child, #matter-content>li:first-child, #pinned-entry>li:first-child, #matter-answer-index-item-list>li:first-child, #matter-answer-list>li:first-child {
    margin-top: 0 !important;
}

@keyframes new {
    0% {
        background-color: #f0ff001a;
    }
    75% {
        background-color: #f0ff001a;
    }
    100% {
        background-color: transparent;
    }
}

.archive-button {
    margin-right: 24px;
}

.archive-button svg {
    position: absolute;
    bottom: 3px;
}

.archive-button:hover svg path {
    fill: #81C14B;
}

.archives-modal {
    background-color: #2d2d2d;
    border: 1px solid #494949;
    border-radius: 3px;
    color: #333;
    position: fixed;
    z-index: 1000;
    padding: 20px 40px;
    max-width: 95%;
    z-index: 10000;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.archives-modal-title {
    padding-bottom: 20px;
}

.archives-modal-subtitle {
    font-weight: bold;
    color: #bdbdbd;
    font-size: 16px;
}

.archives-modal-title .modal-close {
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: .9;
    position: absolute;
    right: 0;
    top: 0;
    color: #bdbdbd;
}

.archives-modal-overlay {
    background-color: black;
    opacity: .5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.archives-modal #accordion .card {
    border-color: #000000;
    background-color: #1f1f1f;
}

.archives-modal #accordion .card .card-header {
    border-bottom-color: black;
    display: flex;
}

.archives-modal #accordion .card .card-header .compare {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}

.archives-modal #accordion .card .card-header .compare a {
    font-size: 14px;
}

.archives-modal #accordion .card .card-header a {
    color: #bdbdbd;
    text-decoration: none;
}

.archives-modal #accordion .card .card-header a strong {
    margin-right: 5px;
}

.archives-modal #accordion .card .card-header a:hover {
    color: #858585;
    text-decoration: none;
}

.archives-modal #accordion .card .card-body {
    color: #bdbdbd;
}

.archive-feedback {
    margin-top: 20px;
    display: flex;
}

.archive-feedback svg {
    width: 25px;
    height: 13px;
}

.archive-feedback .archive-feedback-author {
    display: flex;
    justify-content: end;
    flex: 1;
}

.archive-feedback .archive-feedback-author span {
    color: #666;
    font-size: 12px;
    margin-right: 10px;
}

.archive-feedback .archive-feedback-author a {
    font-size: 14px;
    margin-top: -1px;
}

.archives-modal-footer {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.archive-wrapper {
    overflow-y: auto;
    max-height: 50vh;
}

.archives-modal #comparison-result {
    overflow-y: auto;
    max-height: 70vh;
    background-color: #1f1f1f;
    padding: 20px;
}

.archives-modal #comparison-result .comparison-title a {
    color: #53a245;
}

.archives-modal #comparison-result .url {
    color: unset;
}

/* Light Theme */
body.light-theme .archives-modal {
    background-color: #fff;
}

body.light-theme .archives-modal-subtitle {
    color: #333;
}

body.light-theme .archives-modal-title .modal-close {
    color: #333;
}

body.light-theme .archives-modal #accordion .card {
    background-color: #f6f7f7;
    color: #333;
    border-color: #afafaf;
}

body.light-theme .archives-modal #accordion .card .card-header {
    border-bottom-color: #afafaf;
}

body.light-theme .archives-modal #accordion .card .card-header a {
    color: #333;
    text-decoration: none;
}

body.light-theme .archives-modal #accordion .card .card-header a:hover {
    color: #000;
    text-decoration: none;
}

body.light-theme .archives-modal #accordion .card .archive-content {
    color: #333;
}

body.light-theme .archives-modal #accordion .card .archive-feedback svg {
    fill: #b0bec5;
}

body.light-theme .archives-modal #comparison-result {
    background-color: #f6f7f7;
}