html {
    width: 300px;
    height: auto;
}

body {
    background-color: #1f1f1f;
    padding: 0 20px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-label {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    border-radius: 100px;
    position: relative;
    margin-right: 8px;
}

.switch-label:after {
    content: '';
    position: absolute;
    top: 0.11em;
    left: 0.11em;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+.switch-label {
    background: #81C14B;
}

input:checked+.switch-label:after {
    left: calc(100%);
    transform: translateX(-100%);
}

.switch-label:active:after {
    width: 22px;
}

label[for=switch] {
    cursor: pointer;
}

.whats-new .whats-new-header {
    text-align: center;
    width: 100%;
}

.whats-new .whats-new-header h2 {
    margin: 0;
    padding: 10px;
}

.whats-new .whats-new-content {
    max-height: 300px;
    overflow-y: auto;
}

.whats-new .whats-new-content::-webkit-scrollbar {
    width: 5px;
}

.whats-new .whats-new-content::-webkit-scrollbar-thumb {
    background: #666;
}

.whats-new .whats-new-content::-webkit-scrollbar-track {
    background: #181818;
}

.whats-new .whats-new-content .version h4 {
    margin: 0;
}

.whats-new .whats-new-content .version ul {
    margin-top: 0;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 5px 0;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    color: #81C14B;
}